@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
    height: 100%;
    float: right;
    padding: 1.3em 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
  }
  .header-nav > li {
    display: inline-block;
    margin-left: 1em;
  }
  .header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
  }
  .nav-button {
    display: none;
  }
}
