/* Global styles */
body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", helvetica, arial, sans;
  min-height: 100vh;
}
.content-container {
  flex: 1 1 auto;
  width: 100%;
}

footer {
  position: fixed bottom;
}

/* Header Styles */
.header {
  display: flex;
  background-color: #303034;
  color: #fff;
  position: fixed top;
  width: 100%;
  z-index: 20;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-links a:hover,
.nav-links a:active {
  color: #ed6e2f;
}
.nav-bar-logo {
  box-sizing: border-box;
  display: block;
  height: 10vh;
  padding: 10px;
  position: relative;
  width: 10vh;
}
.nav-bar-logo img {
  height: 100%;
  width: auto;
}

/* Hero Styles */
.welcome-landing {
  box-sizing: border-box;
  background-position: center top;
  /* height: 90vh; */
}

.landing-background {
  position: relative;
  text-align: center;
}

.landing-background img {
  width: 100%;
}

.welcome-landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #ed6e2f;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome-landing-text span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.about img {
  width: 100%;
}

/* Projects */
#projects div > img {
  width: 100%;
  height: 75%;
  object-fit: contain;
}

/* Contact */

/* Footer */
.footer {
  background-color: #303034;
  padding: 2.5vh 0;
  text-align: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social-links a:hover,
.social-links a:active {
  color: #fefce6;
}

.bi {
  color: #ed6e2f;
  width: 25px;
  height: 25px;
}

.footer > p {
  color: #fefce6;
}
