/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", helvetica, arial, sans;
  min-height: 100vh;
}
.content-container {
  width: 100%;
  margin: 0 auto;
}

footer {
  position: fixed bottom;
}

/* HEADER STYLES */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #303034;
  color: #fefce6;
  width: 100%;
  /* z-index: 20; */
}
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15vh;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-menu {
  display: none;
  transform: translate(80px, 0);
  height: 0;
  transition: all 1s ease-in-out;
  margin-top: 50px;
}

#nav-menu.nav-is-open {
  height: 100%;
  transform: translate(-135px, 0);
  text-align: center;
  cursor: pointer;
}

.header-nav li {
  text-align: center;
}

.header-nav a {
  color: #fefce6;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
}
.nav-links a:hover,
.nav-links a:active {
  color: #ed6e2f;
}

.nav-bar-logo {
  box-sizing: border-box;
  display: block;
  height: 8vh;
  position: relative;
  width: 8vw;
}
.nav-bar-logo img {
  height: 100%;
  width: auto;
}

.nav-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: #ed6e2f;
  border: none;
  border-radius: 0.2em;
  height: 3.5em;
  margin: 0.6em;
  padding: 0.8em;
}

button:hover {
  background-color: #fefce6;
  border: 2px solid #ed6e2f;
  border-radius: 0.2em;
}

/* HERO STYLES */
.welcome-landing {
  box-sizing: border-box;
  background-position: center top;
  /* height: 90vh; */
}

.landing-background {
  position: relative;
  text-align: center;
}

.landing-background img {
  width: 100%;
}

.welcome-landing-text {
  font-size: 1.2em;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #ed6e2f;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome-landing-text span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

/* ABOUT STYLES */
.about {
  display: grid;
  grid-template-columns:
    [about-start] minmax(6em, 1fr)
    [name-start] minmax(6em, 1fr)
    [img-end] 2fr
    [about-end];
  max-width: 45em;
  margin: 1.2em auto;
}

.about img {
  float: left;
  margin-right: 1.2em;
  grid-column: about / img;
  grid-row: 1 / 2;
  width: 100%;
}

.about-title {
  font-size: 2.5rem;
  color: #ed6e2f;
  background-color: rgba(48, 48, 52, 0.7);
  grid-column: name / about;
  grid-row: 1 / 2;
  align-self: end;
  margin-bottom: 0.3em;
  border: 1px solid opacity 0;
  border-radius: 3px;
}

.about .sub-title {
  grid-column: about / about;
  margin-bottom: 0.5em;
}

.about-info {
  grid-column: about / about;
  text-align: justify;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}

/* PROJECT STYLES */
.project-title {
  font-size: 2.5rem;
  color: #ed6e2f;
  background-color: rgba(48, 48, 52, 0.7);
  padding-left: 0.3em;
  margin-bottom: 0.3em;
  border: 1px solid opacity 0;
  border-radius: 3px;
}

/* #projects div img {
  width: 100%;
  height: 100%;
} */

.project-name {
  color: #ed6e2f;
  background-color: rgba(48, 48, 52, 0.7);
  padding: 0.5em;
}
/* Primary styles for the carousel */
/* .carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-card {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  float: left;
  position: absolute;
} */
#myCarousel {
  margin-top: 40px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  border: 1px solid #eee;
  width: 220px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}

/* .item {
  border: 1px solid #eee;
  width: 320px;
  height: 190px;
  margin: 0 auto;
  padding: 10px;
} */

/* ////////////////////////// */
/* FIX CONTACT FORM */
/* ////////////////////////// */

/* CONTACT STYLES */
.contact {
  background-color: rgb(211, 211, 211, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: 1px;
  box-sizing: border-box;
  text-align: start;
  padding: 1.3em;
  border: 1px solid opacity 0;
  border-radius: 3px;
  margin-top: 1em;
}

.contact-form-text {
  font-size: 1em;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  padding-left: 0.3em;
  margin-bottom: 0.3em;
  text-align: justify;
}

.contact-form-text span {
  color: #ed6e2f;
  font-size: 1.1em;
  text-shadow: 1px 1px #303034;
}

#contact {
  grid-column: 2 / 4;
  grid-row: 2 / span 4;
}

/* #contact .button {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
} */

/* FOOTER STYLES */
.footer {
  background-color: #303034;
  padding: 2.5vh 0;
  text-align: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.social-links a:hover,
.social-links a:active {
  color: #fefce6;
}

.bi {
  color: #ed6e2f;
  width: 25px;
  height: 25px;
}

.footer > p {
  color: #fefce6;
}
