/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", helvetica, arial, sans;
  min-height: 100vh;
}
.content-container {
  width: 100%;
  margin: 0 auto;
}

footer {
  position: fixed bottom;
}

/* HEADER STYLES */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #303034;
  color: #fefce6;
  /* position: fixed top; */
  width: 100%;
  z-index: 20;
}
.header-nav {
  float: right;
  padding: 1.3em 1em;
  margin-top: 1.5em;
  margin-bottom: 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #fefce6;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-links a:hover,
.nav-links a:active {
  color: #ed6e2f;
}
.nav-bar-logo {
  box-sizing: border-box;
  display: block;
  height: 10vh;
  position: relative;
  width: 10vh;
}
.nav-bar-logo img {
  height: 100%;
  width: auto;
}

.nav-menu {
  background-color: transparent;
  color: #ed6e2f;
  border: none;
  border-radius: 0.2em;
  height: 3.5em;
  margin: 0.6em;
  padding: 0.8em;
}

button:hover {
  background-color: #fefce6;
  border: 2px solid #ed6e2f;
}

/* HERO STYLES */
.welcome-landing {
  box-sizing: border-box;
  background-position: center top;
  /* height: 90vh; */
}

.landing-background {
  position: relative;
  text-align: center;
}

.landing-background img {
  width: 100%;
}

.welcome-landing-text {
  font-size: 1.2em;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #ed6e2f;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome-landing-text span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

/* ABOUT STYLES */
.about {
  display: grid;
  grid-template-columns:
    [about-start] minmax(6em, 1fr)
    [name-start] minmax(6em, 1fr)
    [img-end] 2fr
    [about-end];
  max-width: 45em;
  margin: 1.2em auto;
}

.about img {
  float: left;
  margin-right: 1.2em;
  grid-column: about / img;
  grid-row: 1 / 2;
  width: 100%;
}

.about-title {
  font-size: 2.5rem;
  color: #ed6e2f;
  background-color: rgba(48, 48, 52, 0.7);
  grid-column: name / about;
  grid-row: 1 / 2;
  align-self: end;
  margin-bottom: 0.3em;
}

.about .sub-title {
  grid-column: about / about;
  /* border-bottom: 2px solid rgba(48, 48, 52, 0.1); */
  margin-bottom: 0.5em;
}

.about-info {
  grid-column: about / about;
  text-align: justify;
  /* border-bottom: 2px solid rgba(48, 48, 52, 0.1); */
  padding-bottom: 0.5em;
  line-height: 1.5em;
}

/* PROJECT STYLES */
#projects div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* CONTACT STYLES */

/* FOOTER STYLES */
.footer {
  background-color: #303034;
  padding: 2.5vh 0;
  text-align: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.social-links a:hover,
.social-links a:active {
  color: #fefce6;
}

.bi {
  color: #ed6e2f;
  width: 25px;
  height: 25px;
}

.footer > p {
  color: #fefce6;
}
